body {
  background-color: palegoldenrod;
}

p {
  color: magenta;
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
}

/* #grogu */

h1.header {
  font-size: xx-large
}

p .smaller, p.smaller, .smaller {
  font-size: 20px;
  font-style: italic;
}
